body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding: 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;

  max-width: 670px;
}

.section {
  @include adaptMult(padding, 16 30, 0 0);
  max-width: 670px;
  width: 100%;
  position: relative;
  background: $clr-white;
  &__content {
    margin: 0 auto;
    width: 100%;
  }
}

._1 {
  .section__content {
    .block {
      * {
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }
  }
}

/* 
._ {
  .section__content {
    .block {

    }
  }
} 
*/
